body {
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui,
    -apple-system;
  background: #efefef;
}

.header {
  text-align: center;
}

header h1 {
  color: #39424e;
}

.main-section {
  background: white;
  padding: 1em 2em;
  margin-bottom: 2em;
  border-radius: 1em;
  -webkit-box-shadow: 5px 5px 15px 1px #a8a8a8;
  box-shadow: 5px 5px 15px 1px #a8a8a8;
}

h2 {
  width: 100%;
  margin-top: 0;
  color: #4285f4;
}

#import-list {
  width: 100%;
  height: 3em;
  margin: 5px;
}

#standup-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#student-list-form{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 5%;  
}

#import-list {
  grid-column: span 3;
  grid-row: span 1;
}

#import-button {
  grid-column: span 1;
  grid-row: span 1;
}

#student-select{
  width: 100px;
}
/*
#import-div {
  grid-column: span 1;
  grid-row: span 1;
}
*/

.student-standup-form {
  display: flex;
  flex-direction: column;
  height: max-content;
}

#grp-section {
}

#alert {
  color: red;
}
